.bastable {
  width: 100%;
  height: 100vh;
  border: 1px solid rgb(56, 56, 56);
  background-image: radial-gradient(
      circle 7px at 23% 62%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 7px at 25% 58%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 7px at 57% 71%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 5px at 65% 94%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 5px at 22% 15%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 5px at 22% 76%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 5px at 66% 78%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 5px at 12% 17%,
      rgb(56, 56, 56) 0%,
      rgb(56, 56, 56) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 12px at 73% 76%,
      rgb(43, 43, 43) 0%,
      rgb(43, 43, 43) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 12px at 84% 91%,
      rgb(43, 43, 43) 0%,
      rgb(43, 43, 43) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle at bottom left,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 10%,
      transparent 10%,
      transparent 90%
    ),
    linear-gradient(135deg, rgb(28, 37, 233), rgb(61, 215, 224));
}

.tables {
  width: 100%;
  // height: 100vh;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  // border: 10px solid green;

  thead {
    background-color: transparent;
    color: black;
  }
}
.table {
  background-color: white;
}
@media screen and (max-width: 630px) {
  .tables {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .tables {
    width: 100%;
  }
}
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* body {
    background-color: #e0e3e8;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #727E8C;
} */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #475f7b;
}

.qty {
  // border: 1px solid black;
  // background-color: yellow;
  text-align: center;
  width: 100px;
}
.card {
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff;
  border: none;
}
.card-body {
  padding: 30px;
}
.btn-primary {
  border-color: #5a8dee !important;
  background-color: #5a8dee !important;
  color: #fff;
}
.btn-danger {
  border-color: #ff2829 !important;
  background-color: #ff5b5c !important;
  color: #fff;
}
.form-submit {
  padding: 13px 30px;
  font-size: 15px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.card-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prdct-qty-container {
  display: flex;
  align-items: center;
}

.qty-input-box {
  max-width: 70px;
  padding: 0px 5px;
  min-height: 40px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
  color: #475f7b;
  background-color: #fff;
  border: 1px solid #dfe3e7;
  transition: 0.3s;
}

.qty-input-box:focus {
  color: #475f7b;
  background-color: #fff;
  border-color: #5a8dee;
  outline: 0;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}

.prdct-qty-btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #5a8dee2e;
  color: #5a8dee;
  font-size: 11px;
  transition: 0.3s;
}

.prdct-qty-btn:hover {
  background-color: #5a8dee;
  color: #fff;
}

.product-img img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.card-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prdct-delete {
  padding: 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #fde6e7;
  color: #ff5b5c;
  font-size: 15px;
  transition: 0.3s;
}

.prdct-delete:hover {
  background-color: #ff5b5c;
  color: #fff;
}

.cart-empty {
  text-align: center;
  padding: 30px;
}

.cart-empty i {
  font-size: 45px;
  color: #d5d6d8;
  margin-bottom: 10px;
  display: inline-block;
}

.cart-empty p {
  margin-bottom: 0;
  color: #bdbdbd;
  font-size: 16px;
}

.cart-table td,
.cart-table th {
  vertical-align: middle;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 1s infinite;
}

@keyframes l6 {
  100% {
    inset: 0;
  }
}
