.cardw {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
}
.prdct-deletew {
  padding: 5px;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color: yellow;
  color: #ff5b5c;
  font-size: 20px;
  transition: 0.3s;
}

.prdct-deletew:hover {
  background-color: #ff5b5c;
  color: #fff;
}
.wishlistbody {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background: linear-gradient(
    90deg,
    #00000a,
    #00000a,
    #18273f,
    #00000a,
    #000000
  );
}

.wishcard {
  // border: 1px solid red;
  margin-top: 80px;
}
.cardd {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 340px;
  margin: 20px; /* Add margin to create space between cards */
  filter: drop-shadow(10px 5px 10px #ffd700);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.bir {
  object-fit: cover;
  width: 100%;
  height: 340px;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-actions {
  // display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #f9f9f9;
}

.card-actions .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .cards {
    // flex-direction: column;
  }
}

@media screen and (max-width: 230px) {
  .cards {
    width: 100%;
  }
  .cardd {
    width: 100%;
  }
  .bir {
    height: 290px;
  }
}

@media screen and (max-width: 630px) {
  .cardw {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .cardw {
    width: 100%;
  }
}

@media screen and (max-width: 260px) {
  .cardw {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
